.webpage{
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background:linear-gradient(to bottom, #9D4949,#87141D, #85403D);
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#C52829;
      }

        font-family: "Bebas Neue";    
    overflow-x: hidden;
}